*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_box img{
    width: 250px;
}

.text_box{
    width: 80%;
    background-color: black;
    border-radius: 5px;
}
.txt_box1{ 
    position: relative;
    top: 30px;
    background-color: #eae5e5;
    padding: 20px;
    margin: 30px ;
    border-radius: 10px;
}

.custom_btn2{
    padding: 5px 20px;
    background-color: #00d20b;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid  #33a139;
    transition: .2s;
    margin: 20px;
}

.custom_btn2:hover{
    background-color: #fff;
    color: #00d20b;
}

.btn_style{
    background-color: gray;
    padding: 5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.btn_div{
    display: flex;
    
    justify-content: space-around;
}

@media (max-width: 768px) {
    .img_box img{
        width: 200px;
    }
}



@media (max-width: 375px) {
    .img_box img{
        width: 200px;
    }
    .custom_btn2{
        padding: 0;
    }
}